html {
    border-radius: 10px;
    font-family: sans-serif;
    color: white
}

body {
    background-color: #011936;
}

input,
select {
    color: white;
    border: 1px solid #51A3A3;
    border-radius: 5px;
    background: none;
    margin: 0px;
    padding: 5px 7px;
    margin: 5px 0px;
}

button {
    background-color: #51A3A3;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

button:disabled {
    opacity: 0.5;
}

ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 487px;
    margin-bottom: -20px
}

li {
    width: 50%;
}

.app {
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: large;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.error {
    color: #E54B4B;
    height: 15px;
}

.import-buttons {
    display: flex;
    flex-direction: column;
}

.display-field {
    margin: 5px 0;
}

.display-field>strong {
    margin-right: 5px;
}

.modal {
    position: fixed;
    width: 50%;
    top: 18%;
    left: 25%;

    border: 1px solid #51A3A3;
    border-radius: 5px;
    background-color: #011936;

    display: flex;
    flex-direction: column;
    padding: 20px;
}